.main1{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#side1,#side2{
    width: 40%;
    background: orange;
    text-align: center;
}


/* tab vide */
@media all and (min-device-width:461px) and (max-device-width:780px){
    .main1{
        flex-wrap: wrap;
    }
    img{
        width: 50%;
        border-radius:50%
        
    }
    #side1,#side2{
        width: 100%;
        display: flex;
        margin: 2% 0%;
        justify-content: space-around;
    }
    .data{
        padding: 12% 20% 0% 0% ;
    }
    .main-section
    {
       width: 100%;
       display: flex;
    }
    .artical-left
    {
        width:25%;
        background-color: red;
        padding:1%;
    }
    .artical-right
    {
        width:74%;
       background-color: seagreen;
    padding:1%;
    }
    
 
}